body {
  padding: 0; 
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: url("../assets/paper.png");
}
#icon{
	font-size:3.3vw;
	text-align: center;
	color:#037A86;
	padding: 0.5vw 1vw 0vw 1vw;	
	cursor: pointer;
}
#header{
	height:7vh;
}
.tabcontent {
  display: none;
  /*padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;*/
}
#icon:hover, #icon:focus, #icon:active{
	cursor: pointer;
	text-shadow: 0.5vw 0.1vw 0.3vw rgb(160,160,160);
}
img{
	width: 9vw;
	height: 1.7%;
	margin: 0vw 0vw 0.6vw 0.6vw;
	float: right;
	vertical-align: top;
	border: none;
}
#content{
	height:93vh;
}
#PMIDS{
	margin-left:1.3vw;
}
::-webkit-file-upload-button {
  cursor: pointer;
  background: #798686;
  color: white;
  padding: 5%;
  outline: none;
}
::-webkit-file-upload-button:hover, #viewfile:hover, #Home>button:hover{
	background: #a1aaaa;
	outline: none;
}
#viewfile{
  cursor: pointer;
  background: #798686;
  color: white;
  padding: 1em;
  outline: none;
}
#pmidList{
	padding: 1%;
	display: inline-block;
	visibility: hidden;
}
.wrapper {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
}
.one {
  width: 33%;
  height: 100%;
  float: left;
}
.two {
  /*background: blue; */
  width: 34%;
  height: 100%;
  float: left;
}

.three {
  /*background: green;*/
  width: 33%;
  height: 100%;
  float: right;
}
.short-panel{
	background: #3d898f;
	opacity: 0.5;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin: 2.5%;
	width:95%;
	height: 25%;
	font-size: 3vw;
	text-align: center;
	color:#3d898f;
	line-height: 20vh;
}
.long-panel{
	background: #59b9c0;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin: 2.5%;
	width:95%;
	height:70%;
	font-size: 3vw;
	text-align: center;
	color:#59b9c0;
	line-height: 60vh;
}
.long-panel:hover{
	cursor: pointer;
	color:white;
	background:#8fb8bc;
	transition: color 0.5s, background 0.3s;
}
/**
#pubmedBtn{
	background: url("../assets/pubmed.jpg") no-repeat;
    background-size: cover;
}
#profileBtn{
	background: url("../assets/profile.jpg") no-repeat;
    background-size: 100%;
}
#ncbiBtn{
	background: url("../assets/ncbi.png") no-repeat;
    background-size: 100%;
}	
*/